.contact-container{
    overflow: hidden;
}
.contact-header {
    text-align: center;
    background-color: var(--logo-color-light);
    padding: 25px;
    margin-bottom: 100px;
    color: white;
}

.contact-header header {
    font-size: 45px;
}

.contact-header p {
    font-size: 21px;
    line-height: 2;
}

.contact-tiles-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.contact-tiles-bg {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    height: 100%;
    z-index: -1;
    outline: none;
    overflow: hidden;
}

.contact-tiles-bg img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: inherit;
    width: inherit;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: blur(7px);
            filter: blur(7px);
}
.contact-tile {
    width: 25vw;
    background-color: var(--logo-color-light);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}


.contact-tile-header {
    padding: 15px;
    text-align: center;
    color: white;
    height: 150px;
}

.contact-tile-header header {
    font-size: 32px;
    line-height: 1.5;
}

.contact-tile-header p {
    font-size: 18px;
}

.contact-tile-img{
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-color: var(--bg-color);
    padding: 15px;
    position: relative;
}
.contact-tile-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-45%,-50%);
        -ms-transform: translate(-45%,-50%);
            transform: translate(-45%,-50%);
}
.contact-tile-btn {
    text-align: center;
    padding: 15px;
}

.contact-tile-btn button:hover {
    background-color: var(--logo-orange);
    color: white;
}

/* Desktop */
@media screen and (min-width: 1010px) {
    .contact-container {
        width: 80vw;
        margin: 0 auto;
        /* height: 110vh; */
    }
    .contact-tile:not(:last-child) {
        margin-right: 20px;
    }
    .contact-tiles-container{
        margin-bottom: 50px;
    }
    .contact-tile:hover{
        -webkit-box-shadow: 0px 0px 11px 0px #363636;
                box-shadow: 0px 0px 11px 0px #363636;
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);

    }
}

/* Mobile */
@media screen and (max-width: 1010px) {
    .contact-container {
        width: 100%;
        position: relative;
    }

    .contact-header {
        width: 90vw;
    }
    .contact-tiles-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contact-tile{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .contact-tiles-bg{
        top: 19%;
        display: none;
    }
}

@media screen and (max-width: 1010px ) and (orientation:landscape){
    .contact-tiles-bg{
        top: 13%;
    }
}
@media (-webkit-device-pixel-ratio: 1.25){
    .contact-tiles-bg{
        top: 55%;
    }
}