
.home-container{
    position: relative;
}
.home-contact-container{
    text-align: center;
    /* background-color: var(--logo-orange); */
    margin-bottom: 5vh;
}
.home-contact-container button {
    background-color: var(--logo-orange);
}
/* @media screen and (min-width: 1010px) {

    .home-container {
        margin-top: 136px;
    }
}

@media screen and (max-width: 1010px) {
    .home-container {
        margin-top: 180px;
    }
}


@media screen and (max-height:650px) {
    .home-container {
        margin-top: 42vh;
    }
} */